
html,body{
    height: 100%;
}

h1 {
    opacity: .5;
    color: grey;
    font-size: 32px;
    padding: 1px;
    width: fit-content;
}

.wS {
    height: 18px;
}

.titles {
    padding: 1px;
    width: fit-content;
    opacity: .5;
    color: grey;
    font-size: 32px;
    border: 2px solid rgb(82, 130, 232);
}

.nt{
    font-size: 18px;
    padding: 1px;
    width: fit-content;
    opacity: .5;
    color: grey;
}